header {
  display: flex;
  justify-content: center;
  height: 56px;
  background-color: #252742;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    max-width: 1140px;

    div {
      margin: 0;

      a {
        color: white;
        text-decoration: none;
      }
    }

    #title {
      font-weight: 700;
    }
  }
}
