@import 'scss/abstracts/mixins';

.search-box {
  display: flex;
  align-items: center;

  input {
    box-sizing: border-box;
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    width: 80%;
  }

  button {
    box-sizing: border-box;
    width: 20%;
    padding: 0.5rem;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-left: none;
    cursor: pointer;
  }

  @include respond(phone) {
    input {
      padding: 0.5rem;
      font-size: 87.5%;
    }

    button {
      padding: 0.5rem;
      font-size: 87.5%;
    }
  }
}
